	


@(people: (List[(String, String, String)],String,String,String))
@main("corona") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
     <center><b> Last Updated -  @people._2</b></center>
          
  <div class="wrapper doc">

      
   
    <article> 
 
     <p><h2 style="color: yellowgreen">Total Case : @people._3 &emsp; Total Death : @people._4</h2></p>

      <p>Top five countries <b>total cases:</b></p>
			   <table>
			   <tr>
          <td><b>Country</b></td>
          <td><b>Cases</b></td>
          <td><b>Deaths</b></td>
      </tr>
			@people._1.map { person =>
			  <tr>
          <td>@person._1</td>
                    <td>@person._2</td>
         <td>@person._3</td>
      </tr>
			}
			</table>

      <p><b>View all countries</b> <a href="@routes.HomeController.explore"> click here </a></p>

      <h3 id="next-steps">Other Updates</h3>
      <p>Click, here <a target="_blank" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">WHO Corona virus latest Updates on Coronavirus</a>.</p>
    </article>
    <aside>
      @commonSidebar()
    </aside>
  </div>
</section>
}
}
