@(message:(String,String,String,String,String,String,String,String,String,List[(String, String)]))

@main("trend") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">

    <p style="padding-left:5%"><b>Back to page </b> <a href="@routes.HomeController.explore"> click here </a></p>

    <div class="dropdown" style="padding-left: 5%;">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Country
            <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            @message._10.map { country =>
            <li role="presentation"><a role="menuitem" tabindex="-1" href=@country._2>@country._1</a></li>
            }
        </ul>
    </div>


    <div id="chartCase" style="width: 95%; padding-left: 5%;"></div>
    <br>
    <div id="chartDeath" style="width: 95%; padding-left: 5%;"></div>
    <br>
    <div id="chartRec" style="width: 95%; padding-left: 5%;"></div>
    <br>


    <p style="padding-left:5%"><b>Back to main page </b> <a href="@routes.HomeController.corona"> click here </a></p>


</section>

<script>





// Create the chart Cases
Highcharts.stockChart('chartCase', {
  chart: {
 
    zoomType: 'x'
  },

  rangeSelector: {

    buttons: [{
      type: 'day',
      count: 3,
      text: '3d'
    }, {
      type: 'week',
      count: 1,
      text: '1w'
    }, {
      type: 'month',
      count: 1,
      text: '1m'
    }, {
      type: 'all',
      text: 'All'
    }],
    selected: 1
  },

  yAxis: {
	 
   
      labels:{  
         enabled:true
      },
    title: {
      text: 'Case',style : {'font-weight': 'bold'}
    }
  },

  title: {
    text: 'Cases in <b>@message._3</b>',
    style: {
    	color :'#708090'
    }
  },

  subtitle: {
    text:'Built chart in ' + '<b>@message._2</b>' // dummy text to reserve space for dynamic subtitle
  },

tooltip: {
   style: {
       fontSize: '10px'
   },
   enabled: true,
   shared: true,
   split: false,
   useHTML: true,
   backgroundColor: 'white',
   thousandSeperator:true,
   headerFormat: '<b>{point.key}</b><br><br>',
   pointFormat: '<span style="color:{point.color}">●</span> {series.name}: <b>{point.y}</b><br/>'
},
  credits: {
      enabled: false
  },
  legend: {
      enabled: false
  },
  
  series: [{
	  type: 'line',
	  connectNulls: true,
    name: 'Total Case',
    color :'#708090',
    data: @message._4,
   
    pointStart: Date.UTC(@message._1),
      pointInterval: 24 * 3600 * 1000 ,
      marker: {
          enabled: true,
          radius: 3
      }
 
  }
  ,{
	  type: 'line',
	  connectNulls: true,
	  visible: true,
 name: 'New Case',
 color :'transparent',
 data: @message._7,
 pointStart: Date.UTC(@message._1),
 pointInterval: 24 * 3600 * 1000 

}]

});



//Create the chart Death
Highcharts.stockChart('chartDeath', {
chart: {

 zoomType: 'x'
},

rangeSelector: {

 buttons: [{
   type: 'day',
   count: 3,
   text: '3d'
 }, {
   type: 'week',
   count: 1,
   text: '1w'
 }, {
   type: 'month',
   count: 1,
   text: '1m'
 }, {
   type: 'all',
   text: 'All'
 }],
 selected: 1
},

yAxis: {
	 

   labels:{  
      enabled:true
   },
 title: {
   text: 'Death',style : {'font-weight': 'bold'}
 }
},

title: {
 text: 'Deaths in <b>@message._3</b>',
 style: {
 	color :'#e96565'
 }
},

subtitle: {
 text:'Built chart in ' + '<b>@message._2</b>' // dummy text to reserve space for dynamic subtitle
},

tooltip: {
   style: {
       fontSize: '10px'
   },
   enabled: true,
   shared: true,
   split: false,
   useHTML: true,
   backgroundColor: 'white',
   thousandSeperator:true,
   headerFormat: '<b>{point.key}</b><br><br>',
   pointFormat: '<span style="color:{point.color}">●</span> {series.name}: <b>{point.y}</b><br/>'
},
credits: {
   enabled: false
},
legend: {
   enabled: false,
   layout: 'horizontal',
   verticalAlign: 'bottom',
   y: 0,
   itemStyle: {
       fontSize: '10px'
   },
   symbolWidth: 12,
   symbolRadius: 1
},

series: [{
	  type: 'line',
	  connectNulls: true,
	  
 name: 'Total Death',
 color :'#e96565',
 data: @message._5,
 
 pointStart: Date.UTC(@message._1),
   pointInterval: 24 * 3600 * 1000 ,
   marker: {
       enabled: true,
       radius: 3
   }

} ,{
	  type: 'line',
	  connectNulls: true,
	  visible: true,
 name: 'New Death',
 color :'transparent',
 data: @message._8,
 pointStart: Date.UTC(@message._1),
 pointInterval: 24 * 3600 * 1000 

}]

});



//Create the chart Recover
Highcharts.stockChart('chartRec', {
chart: {

 zoomType: 'x'
},

rangeSelector: {

 buttons: [{
   type: 'day',
   count: 3,
   text: '3d'
 }, {
   type: 'week',
   count: 1,
   text: '1w'
 }, {
   type: 'month',
   count: 1,
   text: '1m'
 }, {
   type: 'all',
   text: 'All'
 }],
 selected: 1
},

yAxis: {
	 
   
   labels:{  
      enabled:true
   },
 title: {
   text: 'Recover',style : {'font-weight': 'bold'}
 }
},

title: {
 text: 'Recovered in <b>@message._3</b>',
 style: {
 	color :'#89ab45'
 }
},

subtitle: {
 text:'Built chart in ' + '<b>@message._2</b>' // dummy text to reserve space for dynamic subtitle
},

tooltip: {
   style: {
       fontSize: '10px'
   },
   enabled: true,
   shared: true,
   split: false,
   useHTML: true,
   backgroundColor: 'white',
   thousandSeperator:true,
   headerFormat: '<b>{point.key}</b><br><br>',
   pointFormat: '<span style="color:{point.color}">●</span> {series.name}: <b>{point.y}</b><br/>'
},
credits: {
   enabled: false
},
legend: {
   enabled: false,
   layout: 'horizontal',
   verticalAlign: 'bottom',
   y: 0,
   itemStyle: {
       fontSize: '10px'
   },
   symbolWidth: 12,
   symbolRadius: 1
},

series: [{
	  type: 'line',
	  connectNulls: true,
 name: 'Total Recover',
 color :'#89ab45',
 data: @message._6,
 pointStart: Date.UTC(@message._1),
   pointInterval: 24 * 3600 * 1000 ,
   marker: {
       enabled: true,
       radius: 3
   }

} ,{
	  type: 'line',
	  connectNulls: true,
	  visible: true,
 name: 'New Recover',
 color :'transparent',
 data: @message._9,
 pointStart: Date.UTC(@message._1),
 pointInterval: 24 * 3600 * 1000 

}]

});




</script>


}
}
