
@(message:(String,String,String,String,String,String))

@main("trend") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
<p style="padding-left:5%"><b>Back to main page </b> <a href="@routes.HomeController.corona"> click here </a></p> 
    

  <div id="chartCase" style="width: 95%; padding-left: 5%;"></div>
  <div id="chartDeath" style="width: 95%; padding-left: 5%;"></div>
  <div id="chartRec" style="width: 95%; padding-left: 5%;"></div>




   <p><b>Back to page </b> <a href="@routes.HomeController.explore"> click here </a></p>       
   
 

 
 
  
</section>

<script>


// Create the chart Cases
Highcharts.stockChart('chartCase', {
  chart: {
 
    zoomType: 'x'
  },

  rangeSelector: {

    buttons: [{
      type: 'day',
      count: 3,
      text: '3d'
    }, {
      type: 'week',
      count: 1,
      text: '1w'
    }, {
      type: 'month',
      count: 1,
      text: '1m'
    }, {
      type: 'all',
      text: 'All'
    }],
    selected: 1
  },

  yAxis: {
	 
   
      labels:{  
         enabled:true
      },
    title: {
      text: 'Case',style : {'font-weight': 'bold'}
    }
  },

  title: {
    text: 'Cases in <b>@message._3</b>',
    style: {
    	color :'#708090'
    }
  },

  subtitle: {
    text:'Built chart in ' + '<b>@message._2</b>' // dummy text to reserve space for dynamic subtitle
  },

  tooltip: {
      style: {
          fontSize: '10px'
      },
      enabled: true,
      shared: true,
      split: false,
      useHTML: true,
      backgroundColor: 'white',
      thousandSeperator:true,
      headerFormat: '<b>{point.key}</b><br><br>',
  },
  credits: {
      enabled: false
  },
  legend: {
      enabled: false,
      layout: 'horizontal',
      verticalAlign: 'bottom',
      y: 0,
      itemStyle: {
          fontSize: '10px'
      },
      symbolWidth: 12,
      symbolRadius: 1
  },
  
  series: [{
	  type: 'line',
	  connectNulls: true,
    name: 'Case',
    color :'#708090',
    data: @message._4,
    pointStart: Date.UTC(@message._1),
      pointInterval: 24 * 3600 * 1000 ,
      marker: {
          enabled: true,
          radius: 3
      }
 
  }]

});



//Create the chart Death
Highcharts.stockChart('chartDeath', {
chart: {

 zoomType: 'x'
},

rangeSelector: {

 buttons: [{
   type: 'day',
   count: 3,
   text: '3d'
 }, {
   type: 'week',
   count: 1,
   text: '1w'
 }, {
   type: 'month',
   count: 1,
   text: '1m'
 }, {
   type: 'all',
   text: 'All'
 }],
 selected: 1
},

yAxis: {
	 

   labels:{  
      enabled:true
   },
 title: {
   text: 'Death',style : {'font-weight': 'bold'}
 }
},

title: {
 text: 'Deaths in <b>@message._3</b>',
 style: {
 	color :'#e96565'
 }
},

subtitle: {
 text:'Built chart in ' + '<b>@message._2</b>' // dummy text to reserve space for dynamic subtitle
},

tooltip: {
   style: {
       fontSize: '10px'
   },
   enabled: true,
   shared: true,
   split: false,
   useHTML: true,
   backgroundColor: 'white',
   thousandSeperator:true,
   headerFormat: '<b>{point.key}</b><br><br>',
},
credits: {
   enabled: false
},
legend: {
   enabled: false,
   layout: 'horizontal',
   verticalAlign: 'bottom',
   y: 0,
   itemStyle: {
       fontSize: '10px'
   },
   symbolWidth: 12,
   symbolRadius: 1
},

series: [{
	  type: 'line',
	  connectNulls: true,
 name: 'Death',
 color :'#e96565',
 data: @message._5,
 pointStart: Date.UTC(@message._1),
   pointInterval: 24 * 3600 * 1000 ,
   marker: {
       enabled: true,
       radius: 3
   }

}]

});



//Create the chart Cases
Highcharts.stockChart('chartRec', {
chart: {

 zoomType: 'x'
},

rangeSelector: {

 buttons: [{
   type: 'day',
   count: 3,
   text: '3d'
 }, {
   type: 'week',
   count: 1,
   text: '1w'
 }, {
   type: 'month',
   count: 1,
   text: '1m'
 }, {
   type: 'all',
   text: 'All'
 }],
 selected: 1
},

yAxis: {
	 

   labels:{  
      enabled:true
   },
 title: {
   text: 'Recover',style : {'font-weight': 'bold'}
 }
},

title: {
 text: 'Recovered in <b>@message._3</b>',
 style: {
 	color :'#89ab45'
 }
},

subtitle: {
 text:'Built chart in ' + '<b>@message._2</b>' // dummy text to reserve space for dynamic subtitle
},

tooltip: {
   style: {
       fontSize: '10px'
   },
   enabled: true,
   shared: true,
   split: false,
   useHTML: true,
   backgroundColor: 'white',
   thousandSeperator:true,
   headerFormat: '<b>{point.key}</b><br><br>',
},
credits: {
   enabled: false
},
legend: {
   enabled: false,
   layout: 'horizontal',
   verticalAlign: 'bottom',
   y: 0,
   itemStyle: {
       fontSize: '10px'
   },
   symbolWidth: 12,
   symbolRadius: 1
},

series: [{
	  type: 'line',
	  connectNulls: true,
 name: 'Recover',
 color :'#89ab45',
 data: @message._6,
 pointStart: Date.UTC(@message._1),
   pointInterval: 24 * 3600 * 1000 ,
   marker: {
       enabled: true,
       radius: 3
   }

}]

});



</script>





}
}
